{
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 160,
  "semi": false,
  "svelteSortOrder" : "scripts-markup-styles",
  "svelteStrictMode": true,
  "svelteBracketNewLine": true,
  "svelteAllowShorthand": false,
  "svelteIndentScriptAndStyle": true,
  "singleQuote": true,
  "trailingComma": "none",
  "arrowParens": "avoid"
}
