@import "./_variables.scss";

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700&display=swap&subset=cyrillic");
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: local('IBM Plex Sans'),
    local('IBMPlexSans'),
    url('~@anticrm/sparkling-theme/fonts/complete/woff2/IBMPlexSans-Regular.woff2') format('woff2'),
    url('~@anticrm/sparkling-theme/fonts/complete/woff/IBMPlexSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  src: local('IBM Plex Sans Medium'),
    local('IBMPlexSans-Medium'),
    url('~@anticrm/sparkling-theme/fonts/complete/woff2/IBMPlexSans-Medium.woff2') format('woff2'),
    url('~@anticrm/sparkling-theme/fonts/complete/woff/IBMPlexSans-Medium.woff') format('woff');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  src: local('IBM Plex Sans Bold'),
    local('IBMPlexSans-Bold'),
    url('~@anticrm/sparkling-theme/fonts/complete/woff2/IBMPlexSans-Bold.woff2') format('woff2'),
    url('~@anticrm/sparkling-theme/fonts/complete/woff/IBMPlexSans-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'),
    url('~@anticrm/sparkling-theme/fonts/complete/otf/Raleway-Regular.otf');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'),
    url('~@anticrm/sparkling-theme/fonts/complete/otf/Raleway-Bold.otf');
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: $highlight-color;
  text-decoration: underline;
}

.icon-embed {
  height: 1em;
  width: 1em;
  fill: currentColor;
  top: 0.15em;
  position: relative;
}

.icon-embed-2x {
  height: 1.5em;
  width: 1.5em;
  fill: currentColor;
  top: 0.25em;
  position: relative;
}

.icon {
  height: 2em;
  width: 2em;
  fill: currentColor;
}

.caption-1 {
  font-family: $font-caption;
  // font-family: "Montserrat";
  // font-family: "Open Sans";
  font-size: 36px;
  font-weight: 700;
}

.caption-2 {
  font-family: $font-caption;
  // font-family: "Montserrat";
  // font-family: "Open Sans";
  font-size: 24px;
  font-weight: 400;
}

.caption-3 {
  font-family: $font-caption;
  // font-family: "Montserrat";
  // font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.caption-4 {
  font-family: "IBM Plex Sans";
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.caption-5 {
  font-family: "IBM Plex Sans";
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
}

.text-small-uppercase {
  font-size: 10px;
  text-transform: uppercase;  
}

.content-dark {
  color: $content-color-dark;
}

.crm-table {
  display: table;
  border-collapse: collapse;

  .tr {
    display: table-row;
  }

  .thead {
    display: table-header-group;
  }

  .th {
    display: table-cell;
    padding: 0.5em;
  }

  .tbody {
    display: table-row-group;

    .tr {
      border-bottom: $border-default;
    }
  }

  .td {
    display: table-cell;
  }

  .tfoot {
    display: table-footer-group;
  }
  .col {
    display: table-column;
  }
  .colgroup {
    display: table-column-group;
  }
  .caption {
    display: table-caption;
  }
}
