$workspace-separator-color: #404040;

$header-bg-color: #161616;
$nav-bg-color: #161616;

$content-bg-color: #1b1c21; //#282828;
$input-color: #232529;
$side-bg-color: #333333;

$content-color: #e2e2e2;
$content-color-dark: #888;

// $highlight-color: #004e93;

// $highlight-color: #d44422;
// $highlight-color: darken(orange, 5%);

$highlight-color: #19A0FB;

$pictogram-size: 48px;

// $highlight-color: dodgerblue;

$animate: all 250ms ease-in-out;

$font-caption: "Raleway";
// $font-caption: "Montserrat";
// $font-caption: "Open Sans";
// $font-caption: "IBM Plex Sans";

// $font-content: "Open Sans";
$font-content: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;

$font-input: "Raleway";

// $font-input: "Manrope";
// $font-content: "-apple-system,system-ui,BlinkMacSystemFont"; //,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';

$border-default: 1px solid $workspace-separator-color;

@mixin root-style {
  color: $content-color;

  font-family: $font-content;
  font-size: 12px;
  font-weight: 400;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  input {
    color: $content-color;
  }

}

