
$workspace-separator-color: #404040;

$header-bg-color: #161616;
$nav-bg-color: #161616;

$content-bg-color: #282828;
$side-bg-color: #333333;

$content-color: #e2e2e2;
$content-color-dark: #888;

// $highlight-color: #004e93;

// $highlight-color: #d44422;
// $highlight-color: darken(orange, 5%);

$highlight-color: #19A0FB;

$pictogram-size: 48px;

// $highlight-color: dodgerblue;

$animate: all 250ms ease-in-out;

// $font-caption: "Montserrat";
// $font-content: "Open Sans";
$font-content: "IBM Plex Sans";
$font-caption: "IBM Plex Sans";
$font-input: "IBM Plex Sans";

// $font-input: "Manrope";
// $font-content: "-apple-system,system-ui,BlinkMacSystemFont"; //,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';

$border-default: 1px solid $workspace-separator-color;

@mixin root-style {
  color: $content-color;

  font-family: $font-content;
  font-size: 12px;
  font-weight: 400;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  

}

@mixin caption-4 {
  font-family: $font-caption;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
}
