// Dark Theme
$theme-dark-bg-color: #18181e;
$theme-dark-bg-dark-color: #111117;
$theme-dark-bg-dark-hover: #111117;
$theme-dark-bg-accent-color: rgba(255, 255, 255, 0.05);
$theme-dark-bg-accent-hover: rgba(255, 255, 255, 0.05);
$theme-dark-selection-item: rgba(148, 144, 170, 0.13);

$theme-dark-caption-color: #fff;
$theme-dark-content-accent-color: rgba(255, 255, 255, 0.8);
$theme-dark-content-color: rgba(255, 255, 255, 0.6);
$theme-dark-content-dark-color: rgba(255, 255, 255, 0.4);
$theme-dark-content-trans-color: rgba(255, 255, 255, 0.3);

$theme-dark-userlink-color: #b92d52;
$theme-dark-userlink-hover: #b92d52;
$theme-dark-doclink-color: #2d6ab9;
$theme-dark-doclink-hover: #2d6ab9;
$theme-dark-status-online: #6cd871;
$theme-dark-shadow: 0px 4px 8px rgba(15, 15, 15, 0.5);

// Grey Theme
$theme-grey-bg-color: #393844;
$theme-grey-bg-dark-color: #2c2b35;
$theme-grey-bg-dark-hover: #2c2b35;
$theme-grey-bg-accent-color: rgba(255, 255, 255, 0.05);
$theme-grey-bg-accent-hover: rgba(255, 255, 255, 0.05);
$theme-grey-selection-item: rgba(148, 144, 170, 0.13);

$theme-grey-caption-color: #fff;
$theme-grey-content-accent-color: rgba(255, 255, 255, 0.8);
$theme-grey-content-color: rgba(255, 255, 255, 0.6);
$theme-grey-content-dark-color: rgba(255, 255, 255, 0.4);
$theme-grey-content-trans-color: rgba(255, 255, 255, 0.3);

$theme-grey-userlink-color: #b92d52;
$theme-grey-userlink-hover: #b92d52;
$theme-grey-doclink-color: #2d6ab9;
$theme-grey-doclink-hover: #2d6ab9;
$theme-grey-status-online: #6cd871;
$theme-grey-shadow: 0px 4px 8px rgba(15, 15, 15, 0.5);

// Light Theme
$theme-light-bg-color: #fff;
$theme-light-bg-dark-color: #e7e7e7;
$theme-light-bg-dark-hover: #e7e7e7;
$theme-light-bg-accent-color: rgba(0, 0, 0, 0.05);
$theme-light-bg-accent-hover: rgba(0, 0, 0, 0.05);
$theme-light-selection-item: rgba(148, 144, 170, 0.13);

$theme-light-caption-color: #272121;
$theme-light-content-accent-color: rgba(39, 33, 33, 0.8);
$theme-light-content-color: rgba(39, 33, 33, 0.6);
$theme-light-content-dark-color: rgba(39, 33, 33, 0.4);
$theme-light-content-trans-color: rgba(39, 33, 33, 0.3);

$theme-light-userlink-color: #b92d52;
$theme-light-userlink-hover: #b92d52;
$theme-light-doclink-color: #2d6ab9;
$theme-light-doclink-hover: #2d6ab9;
$theme-light-status-online: #4ebc53;
$theme-light-shadow: 0px 4px 8px rgba(155, 155, 155, 0.5);

// Common
$theme-white-color: #fff;
$theme-status-blue-color: #2d6ab9;
$theme-status-green-color: #4396a2;
$theme-status-grey-color: #78726d;
$theme-status-maroon-color: #b92d52;

$font-content: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
$font-caption: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
